#projects {
  position: relative;
  background-color: rgb(180, 168, 168);
  height: 200vh;

  margin: 0;
  padding: 0;
  z-index: 0;
}
#projects h1 {
  margin: 0;
  padding-top: 12vh;
  text-align: center;
  color: rgb(51, 17, 44);
  text-transform: uppercase;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(63, 51, 57) 0%,
    rgb(58, 104, 143) 35%,
    rgb(211, 216, 218) 100%
  );
  z-index: -1;
}

.box div {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
}
.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
.projectitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  bottom: 0;
  height: 400px;
  background-color: black;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  border-radius: 10px 10px 0px 0px;
  animation-name: evolve;
  animation-iteration-count: 1;
  animation-duration: 600ms;
}
@keyframes evolve {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
  }
}
.hide {
  display: none;
}
#projects h3 {
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
#projects p {
  text-align: center;
}
.projectsList {
  display: grid;
  background-color: transparent;
  grid-template-columns: auto auto;
  grid-gap: 20px 50px;
  padding: 0;
}
.projectsListItem {
  position: relative;
  min-height: 200px;
  margin: 20px;
  background: linear-gradient(
    90deg,
    rgb(50, 51, 53) 0%,
    rgb(87, 68, 131) 35%,
    rgb(32, 11, 128) 100%
  );
  opacity: 0.4;
  border-radius: 10px;
}
.linktoproject {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform ease 300ms;
}
.linktoproject:hover {
  transform: translateY(-5px);
  background-color: rgba(210, 105, 30, 0.192);
}
