@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');
#projects {
  position: relative;
  background-color: rgb(180, 168, 168);
  height: 100vh;
  height: calc(100 * var(--vh));
  overflow-y: scroll;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  z-index: 0;
}

#projects::-webkit-scrollbar {
  width: 2px;
}
#projects::-webkit-scrollbar-track {
  background: #1e1e24;
}
#projects::-webkit-scrollbar-thumb {
  background: #464747;
}
#projects h1 {
  margin: 0;
  padding: 10px;
  padding-top: 15vh;
  padding-top: calc(15 * var(--vh));
  text-align: center;
  color: rgb(51, 17, 44);

  /* font-family: 'Kavoon', cursive; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  font-weight: 400;

  /* text-transform: uppercase; */
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 300%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(63, 51, 57) 0%,
    rgb(58, 104, 143) 35%,
    rgb(211, 216, 218) 100%
  );
  z-index: -1;
  transition: background ease 3000ms;
}

.blur {
  background: rgb(58, 104, 143);
  opacity: 0.8;

  z-index: 1;
}
.box div {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
}
.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
.projectitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  bottom: 0;
  height: 90vh;
  background-color: black;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  border-radius: 10px 10px 0px 0px;
  animation-name: evolve;
  animation-iteration-count: 1;
  animation-duration: 600ms;
}
.projectitem h3 {
  margin-bottom: auto;
}
.projectitem img {
  min-width: 100%;
  max-height: 40%;

  border-radius: 10px 10px 0px 0px;
  margin-bottom: auto;
}
@keyframes evolve {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
  }
}
.hide {
  display: none;
}
#projects h3 {
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
#projects p {
  text-align: center;
}
.projectsList {
  margin-top: 40px;
  display: grid;

  grid-template-columns: auto;

  text-align: center;
}
.projectsListItem {
  position: relative;
  min-height: 100px;
  min-width: 70%;
  max-width: 80%;
  margin: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(3, 17, 44) 0%,
    rgb(207, 21, 98) 35%,
    rgb(112, 12, 12) 100%
  );
  opacity: 1;
  border-radius: 10px;

  transition: scale ease 500ms, opacity ease 1000ms;
}
.open {
  opacity: 0;
}
.linktoproject {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform ease 300ms;
}
.linktoproject:hover {
  transform: scale(1.3);
}
.linktoproject h4 {
  color: rgb(29, 196, 160);
  font-family: 'Lemonada', cursive;
  font-size: 1.2rem;
}
.technologies {
  display: flex;
  list-style: none;
  margin: auto;
  justify-content: center;
  align-items: center;
}
clicked,
.technologyitem {
  text-transform: capitalize;
  padding: 10px;
}

.devicon-github-plain,
.fa-link {
  font-size: 2rem;
}
.devicon-nodejs-plain-wordmark,
.devicon-express-original-wordmark {
  font-size: 4rem;
}
.devicon-react-original,
.devicon-mongodb-plain-wordmark {
  font-size: 2rem;
  padding: 20px;
}
.hosting {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-description-layer {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 62, 206);

  color: white;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s, visibility 0.3s ease;
  border-radius: 10px;
}
.projectsListItem:hover .div-description-layer {
  visibility: visible;
  opacity: 1;
}
.div-description {
  transition: 0.3s;
  transform: scale(1.4);
  /* transform: translateY(2em); */
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projectsList {
    grid-template-columns: auto;
  }
  .devicon-nodejs-plain-wordmark,
  .devicon-express-original-wordmark {
    font-size: 4rem;
  }
  .devicon-react-original,
  .devicon-mongodb-plain-wordmark {
    font-size: 2rem;
    padding: 15px;
  }
}
@media screen and (max-width: 769px) {
  .projectsList {
    grid-template-columns: auto;
  }
  .projectitem {
    width: 90vw;
    height: 80vh;
  }

  .projectsListItem {
    min-width: 80%;
  }
  .devicon-nodejs-plain-wordmark,
  .devicon-express-original-wordmark {
    font-size: 3rem;
  }
  .devicon-react-original,
  .devicon-mongodb-plain-wordmark {
    font-size: 1.5rem;
    padding: 4px;
  }
}
