* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*Overlay*/
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
body * {
  z-index: 1;
}
.sect {
  display: block;
  top: 100vh;
  background-color: burlywood;
  min-height: 100vh;
  text-align: center;
}
.text {
  text-align: center;
  padding: 50px;
}
